<div class="menu">
    <p>Welcome <%= name %></p>
    <div class="menuButtonWpr">
        <% if(!onDeliveryScreen) { %>
        <a href="/delivery" class="showDeliveredBtn">Show Delivery Status</a>
        <% } else { %>
        <a href="/orderlist" class="showDeliveredBtn">Show Order List</a>
        <% } %>
        <button class="logoutBtn">Logout</button>
    </div>
</div>
