<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/common.css" />
        <link rel="stylesheet" href="/styles/home.css" />
        <title>Document</title>
    </head>
    <body>
        <h1 class="title">Driver Delivery Portal</h1>
        <div class="formWpr">
            <section class="login">
                <form method="POST" action="/login">
                    <h3>Login In</h3>
                    <div class="inputWpr">
                        <input
                            type="email"
                            class="email"
                            name="loginEmail"
                            placeholder="Enter Your Email"
                            required
                            value="<%=email %>"
                        />
                        <% if(usernameError) { %>
                        <p class="error">Username does not exist</p>
                        <% } %>
                    </div>
                    <div class="inputWpr">
                        <input
                            type="password"
                            class="password"
                            name="loginPassword"
                            placeholder="Enter Your password"
                            required
                        />
                        <% if(passwordError) { %>
                        <p class="error">Enter correct password</p>
                        <% } %>
                    </div>
                    <button class="button">Log In</button>
                </form>
            </section>
            <section class="signUp">
                <form method="POST" action="/signup">
                    <h3>Create Your Account</h3>
                    <div class="inputWpr">
                        <input
                            type="email"
                            class="email"
                            name="signUpEmail"
                            placeholder="Enter Your Email"
                            required
                            value="<%=signUpEmail %>"
                        />
                        <% if(createUsernameError) { %>
                        <p class="error">Email already exist</p>
                        <% } %>
                    </div>
                    <input
                        type="password"
                        class="password"
                        name="signUpPassword"
                        placeholder="Enter Your password"
                        required
                    />
                    <div class="inputWpr">
                        <input
                            type="password"
                            class="password"
                            name="signUpPasswordConfirm"
                            placeholder="Confirm Your password"
                            required
                        />
                        <% if(confimPasswordError) { %>
                        <p class="error">Password doesn't match</p>
                        <% } %>
                    </div>
                    <button class="button">Sign Up</button>
                </form>
            </section>
        </div>
    </body>
</html>
